#dropArea {

    float: left;

    font-size: 30px;

    height: 380px;

    position: relative;

    text-align: center;

    width: 380px;

    font-family: 'Helvetica Neue', sans-serif;

    letter-spacing: 2px;

}

#dropArea.hover {

    background-color: #CCCCCC;

}

#dropArea.uploading {

    background: #EEEEEE url(loading.gif) center 30% no-repeat;

}



#back_drop_image {

    opacity:0.7;

    z-index:-2;

    margin-top: 85px;

}